/* Overwrite max width constraint */
#jacket #binder {
	max-width: 100%;
}

/* Remove left margin */
#wsuwp-main {
	margin: 0 auto;
	max-width: 1188px;
}

/* Temporary overwrite to get the nav out of the way */
.spine-mobile #spine {
	display: block;
}

@media (min-width: 990px) {

	#spine {
		background: #fff;
		min-height: initial;
		position: relative;
		font-size: 12px;
		width: 100%;
		z-index: 0;
	}

	#glue {
		max-width: 100%;
	}

	.admin-bar #spine #glue {
		margin-top: 0;
		width: 100%;
	}

	.spine-full #glue:before,
	#spine #glue:before,
	#spine #wsu-actions,
	#spine #spine-offsitenav,
	#spine footer {
		display: none;
	}

	#spine header,
	#spine #spine-sitenav {
		margin: 0 auto;
		max-width: 1188px;
		width: 100%;
	}

	#spine header {
		background-color: transparent;
		height: 95px;
		padding: 1.25rem 0;
		position: relative;
	}

	#spine #wsu-signature {

		/*background-image: url(images/);*/
		background-position: left;
		background-size: 297px auto;
		height: 57px;
		margin-left: 2rem;
		width: 297px;
		z-index: 5;
	}

	#spine .spine-navigation {
		border-top: 1px solid #e5e5e5;
		box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .25);
		padding: 0;
	}

	#spine #spine-sitenav ul {
		display: flex;
		justify-content: center;
	}

	#spine #spine-sitenav li {
		border: none;
		padding: 0 1.5em;
	}

	#spine #spine-sitenav a {
		color: #2a3033;
		padding: 1em 0;
	}

	#spine #spine-sitenav .active a {
		color: #a60f2d;
		font-weight: 700;
	}

	#spine #spine-sitenav li:first-child a,
	#spine #spine-sitenav li:first-child a:hover,
	#spine #spine-sitenav .active:first-child a {
		background: none;
	}
}

@media (min-width: 1188px) and (max-width: 1252px) {

	#spine #wsu-signature {
		margin-left: calc(-50vw + (1188px / 2) + 2rem);
	}
}

@media (min-width: 1252px) {

	#spine #wsu-signature {
		margin-left: 0;
	}
}

@media (max-width: 989px) {

	.spine-mobile-open #spine #scroll,
	#binder.fluid #spine #glue,
	#binder #spine #wsu-actions section {
		width: 100vw;
	}

	#glue {
		padding-left: 0;
		padding-right: 0;
	}

	.spine-mobile #glue {
		left: -100vw;
	}

	.spine-mobile-open #glue {
		left: 0;
	}

	.spine-animating.spine-move-right #glue {
		transform: translate(100vw);
	}

	.spine-animating.spine-move-left #glue {
		transform: translate(-100vw);
	}

	.spine-mobile #spine footer {
		width: calc(100vw - 54px);
	}

	#spine #wsu-global-links ul {
		margin: 0 auto;
		width: 198px;
	}
}
